{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
        <img src="{% static 'images/jubilee.jpg' %}" width="75%" />
        </div>
        <div class="col-8 abeezee-regular">
        <h2 class="adlam-display-regular">{{ gallery.title | safe }}</h2>
        {{ gallery.description | safe }}
        </div>
    </div>
    <div class="row">
    </div>
    <!-- Displaying user uploaded photos -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3 class="adlam-display-regular main-text-color">Your photos:</h3>
            <div class="card-body">
                {% for photo in photos %}
                <div class="p-2 comments {% if not photo.is_approved and photo.user_id == user %}faded main-text-color{% elif not photo.is_approved %} d-none{% endif %}">
                <div class="image-container">
                    {% if "placeholder" in photo.image.url %}
                    <img class="card-img-top" src="{% static 'images/jubilee.jpg' %}" alt="placeholder image">
                    {% else %}
                    <img class="card-img-top" src=" {{ photo.image.url }}" alt="{{ photo.caption }}">
                    {% endif %}
                    {% if request.user == photo.user_id %}
                        <a href="{% url 'update_photo' photo.id %}" class="btn btn-signup">Update</a>
                        <form action="{% url 'delete_photo' photo.id %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete this photo?')">Delete</button>
                        </form>
                    {% endif %}
                </div>
                <div id="comment{{ comment.id }}" class="abeezee-regular main-text-color">
                    {{ photo.user_id }} posted:  {{ photo.caption | safe }}
                </div>
                {% if not photo.is_approved and photo.user_id == user %}
                <p class="approval">
                    Thanks, we'll review your photo and display it asap.
                </p>
                {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Uploading New Photos -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
            {% if user.is_authenticated %}
                <h3 class="adlam-display-regular main-text-color">Upload a photo:</h3>
                <p class="abeezee-regular main-text-color">Posting as: {{ user.username }}</p>
                <form id="tipForm" method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
                {{ photo_form | crispy }}
                {% csrf_token %}
                <button id="suggestButton" type="submit" class="btn btn-signup btn-lg abeezee-regular">Upload</button>
                </form>
            {% else %}
            <p class="abeezee-regular main-text-color">Log in to upload a photo.</p>
            {% endif %}
            </div>
        </div>
    </div>
</div> 
{% endblock content %}