{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <img src="{% static 'images/lifering.JPG' %}" width="75%">
            <!-- <img src="{{ safetyinfo.safety_image}}"> -->
        </div>
        <div class="col-12 col-md-8">
            <!-- Title goes between these h2 tags -->
            <h2>{{ safetyinfo.title }}</h2>
            <!-- Content goes directly underneath this -->
            <p>{{ safetyinfo.description | safe}}</p>
        </div>
    </div>
    <!-- Displaying Safety tips -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Safety Tips:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
                to iterate through each comment in comments -->
                {% for suggestion in safetysuggestion %}
                <div class="p-2 comments {% if not suggestion.is_approved and suggestion.user_id == user %}faded{% elif not suggestion.is_approved %} d-none{% endif %}">
                <p class="font-weight-bold">
                    {{ suggestion.user_id }}<span class="font-weight-normal">{{ suggestion.created_on }}</span> wrote:
                </p>
                <div id="comment{{ comment.id }}">
                    {{ suggestion.tip | linebreaks }}
                </div>
                {% if not suggestion.is_approved and suggestion.user_id == user %}
                <p class="approval">
                    This safety tip is awaiting fact-checking
                </p>
                {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <!-- Creating New Safety tips -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
            {% if user.is_authenticated %}
                <h3>Suggest a safety tip:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="tipForm" method="post" style="margin-top: 1.3em;">
                {{ safetysuggestion_form | crispy }}
                {% csrf_token %}
                <button id="suggestButton" type="submit" class="btn btn-signup btn-lg">Suggest</button>
                </form>
            {% else %}
            <p>Log in to leave a safety tip.</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}