{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <img src="{% static 'images/safety-img1.jpg' %}" width="75%">
        </div>
        <div class="col-12 col-md-8">
            <h2 class="adlam-display-regular">{{ safetyinfo.title }}</h2>
            <p class="abeezee-regular">{{ safetyinfo.description | safe}}</p>
        </div>
    </div>
    <!-- Displaying Safety tips -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3 class="adlam-display-regular main-text-color">Safety Tips:</h3>
            <div class="card-body abeezee-regular">
                {% for suggestion in safetysuggestion %}
                <div class=" abeezee-regular p-2 comments {% if not suggestion.is_approved and suggestion.user_id == user %} faded{% elif not suggestion.is_approved %} d-none{% endif %}">
                <p class="font-weight-bold main-text-color abeezee-regular">
                    {{ suggestion.user_id }} wrote:
                </p>
                <div id="comment{{ comment.id }}" class="font-weight-bold main-text-color abeezee-regular">
                    {{ suggestion.tip | linebreaks }}
                </div>
                {% if not suggestion.is_approved and suggestion.user_id == user %}
                <p class="approval">
                    This safety tip is awaiting fact-checking
                </p>
                {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Creating New Safety tips -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
            {% if user.is_authenticated %}
                <h3 class="adlam-display-regular main-text-color">Suggest a safety tip:</h3>
                <p class="abeezee-regular main-text-color">Posting as: {{ user.username }}</p>
                <form id="tipForm" method="post" style="margin-top: 1.3em;">
                {{ safetysuggestion_form | crispy }}
                {% csrf_token %}
                <button id="suggestButton" type="submit" class="btn btn-signup btn-lg abeezee-regular">Suggest</button>
                </form>
            {% else %}
            <p class=" abeezee-regular main-text-color">Log in to leave a safety tip.</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}