{% extends 'base.html' %}
{% block content %}

{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <img src="{% static 'images/lifering.JPG' %}" width="75%">
            <!-- <img src="{{ safetyinfo.safety_image}}"> -->
        </div>
        <div class="col-12 col-md-8">
            <!-- Title goes between these h2 tags -->
            <h2>{{ safetyinfo.title }}</h2>
            <!-- Content goes directly underneath this -->
            <p>{{ safetyinfo.description | safe}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field goes in here -->
            <p class="text-end"><em>Updated on: {{ safetyinfo.created_on }}</em></p>
        </div>
    </div>
</div>
{% endblock content %}