{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title adlam-display-regular">{{ lido.name }}</h1>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{{ lido.lido_image.url }}" class="scale" alt="{{ lido.name }}">
            </div>
            <div class="mobile-image">
                <img src="{{ lido.lido_image.url }}" class="scale" alt="{{ lido.name }}">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body abeezee-regular">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <h2 class="adlam-display-regular">{{ info }}</h2>
                <p class="card-text main-text-color">
                    {{ lido.description | safe }}
                </p>
                <p class="main-text-color">
                Click <a href="{{lido.website }}" target="_blank" class="ext-link">here</a> to visit their website.
                </p>
            </div>
        </div>
    </div>
    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
        <hr>
        </div>
    </div>
    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3 class="adlam-display-regular main-text-color">Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
                to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="p-2 comments {% if not comment.is_approved and comment.user_id == user %}faded{% elif not comment.is_approved %} d-none{% endif %}">
                <p class="font-weight-bold main-text-color ">
                    {{ comment.user_id }}<span class="font-weight-normal main-text-color abeezee-regular">{{ comment.created_on }}</span> wrote:
                </p>
                <div id="comment{{ comment.id }}" class="main-text-color abeezee-regular">
                    {{ comment.content | linebreaks }}
                </div>
                {% if not comment.is_approved and comment.user_id == user %}
                <p class="approval sec-text-color abeezee-regular">
                    This comment is awaiting approval
                </p>
                {% endif %}
                {% if user.is_authenticated and comment.user_id == user %}
                <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                {% endif %}
                {% if user.is_authenticated and comment.user_id == user %}
                <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
                {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <!-- Creating New Comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
            {% if user.is_authenticated %}
                <h3 class="adlam-display-regular main-text-color">Leave a comment:</h3>
                <p class="main-text-color abeezee-regular">Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
            {% else %}
            <p class="main-text-color abeezee-regular">Log in to leave a comment</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
            Are you sure you want to delete your comment?
            This action cannot be undone.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
        </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}