{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <img src="{% static 'images/jubilee.jpg' %}" width="75%">
        </div>
        <div class="col-12 col-md-8">
            <!-- Title goes between these h2 tags -->
            <h2>{{ about.title }}</h2>
            <!-- Content goes directly underneath this -->
            <p>{{ about.content | safe}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field goes in here -->
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>What do you think?</h2>
            <p>
                Please fill in the form to suggest any other lidos in the UK that you would like to see added to the list.
            </p>
            <!-- add your form here. Your submit button should 
                                have the classes of btn, btn-secondary -->
                <form id="suggestionForm" method="post">
                    {{ suggestion_form | crispy }}
                    {% csrf_token %}
                    <button id="suggestButton" type="submit" class="btn btn-secondary">Suggest</button>
                </form>
        </div>
    </div>
</div>
{% endblock content %}